/*==========================================
    Topbar
==========================================*/
.topbar {
    .welcome-text {
        p {
            margin: 0;
            color: $white;
            font-size: 16px;
        }
    }
}